@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbfbf5;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Helvetica, Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}